vcenter_address         = ""
vcenter_user            = "Administrator@vsphere.local"
vcenter_password        = ""
vcenter_dc              = ""
vcenter_cluster         = ""
vcenter_host            = ""
vcenter_datastore       = ""
vcenter_folder          = ""
vcenter_content_library = ""
